body {
  transition: background-color 0.5s;
  margin: 0;
}

.dark {
  background-color: #121212;
  color: white;
}

.home {
  padding: 20px;
}

.recipe-images img {
  margin: 10px;
}

.browse-recipes {
  padding: 20px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
}

.recipe-item {
  margin: 10px;
  text-align: center;
}

.my-favorites {
  padding: 20px;
}
